.ps-title-bar{
	background-color: white;
	padding: 0 20px;
	border-bottom: 2px solid black;
}
.ps-logo-area{
		/*text-align: center;*/
}
.ps-title-area
{
	display: inline-block;
	text-align: center;
}
.ps-icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin:8px;
	vertical-align: top;
	border: 1px solid #999;
}
.ps-logo-title{
	color:#111;
	margin-top: 6px;
	font-size: 22px;
}
.ps-logo-subtitle{
	font-size: 13px;
	margin-top: -13px;
}

@media screen and (max-width: 430px){
	.ps-icon{
		display: none;
	}
	.ps-logo-title{
		font-size: 18px;
	}
}

.ps-right-side-controls{
	line-height: 60px;
}
.ps-right-side-controls > div{
	text-align: center;
}
@media screen and (min-width: 786px){
	.ps-right-side-controls > div{
		text-align: right;
	}
	.ps-logo-area{
		text-align: left;
	}
}

.ps-collapsed-menu{
	display: inline-block;
	height: 100%;
}
.ps-nav-button{
	height: 40px;
	width: 60px;
	margin-top: 10px;
	border: 1px solid #888;
	padding: 0;
	font-size: 26px;
	color: #777;
}